@using System.Security.Claims;
@model EmployeeBirthdayGiftVotingSystem.Models.Vote.VoteIndexViewModel;

<article class="card vote-index">
    <div class="card-body">
        <h2 class="card-title">@Model.Username</h2>
        <div class="card-subtitle text-muted">(@Model.FirstName @Model.LastName)</div>
        <div class="card-text">Born on @Model.EmployeeBirthday.Month / @Model.EmployeeBirthday.Day</div>
        <span class="badge badge-success">Ongoing</span>
        <div class="d-flex align-items-center actions">
            <a class="card-link" asp-controller="Vote" asp-action="Details" asp-route-id="@Model.Id">View</a>
            @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.CreatorId)
            {
                <form asp-controller="Vote" asp-action="EndVote" asp-route-id="@Model.Id">
                    <button class="btn btn-dark" type="Submit">End vote</button>
                </form>
            }
        </div>
    </div>
</article>