@using System.Security.Claims;
@model EmployeeBirthdayGiftVotingSystem.Models.Vote.VoteIndexViewModel;

<article>
    <h2>@Model.Username</h2>
    <div>(@Model.FirstName @Model.LastName)</div>
    <div>Born on @Model.EmployeeBirthday.Month / @Model.EmployeeBirthday.Day</div>
    <span>Ongoing</span>
    <div>
        <a asp-controller="Vote" asp-action="Details" asp-route-id="@Model.Id">View</a>
        @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.CreatorId)
        {
            <form asp-controller="Vote" asp-action="End" asp-route-id="@Model.Id">
                <button type="Submit">End vote</button>
            </form>
        }
    </div>
</article>